body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#board{
    background-color: black;   
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}